.AppForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  height: fit-content;
  overflow: hidden;
  margin: auto;
  width: 400px;
  height: 650px;


  .header {
    margin-top: 10px;
    width: 100%;

    .headerText {
      display: flex;
      width: 300px;
      margin: auto;
      justify-content: space-around;

      div {
        color: #c4c3ca;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;


        &:hover {
          color: white;
          text-shadow: 0 0px 2px #c4c3ca;
        }
      }

    }

    .Switch {
      margin: auto;
      margin-top: 30px;
    }
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    // border: 3px solid white;
    position: relative;
    margin-top: 20px;
    padding: 0 70px;
    height: 400px;

    // border: 3px solid white;


    .forms {
      display: flex;
    }

    .icons {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
    }


    &.registerAction {
      .LoginForm {
        position: absolute;
        transform: translateX(410px);
      }
    }

    &.loginAction {
      .RegisterForm {
        position: absolute;
        transform: translateX(-410px);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      width: min-content;
      padding-top: 20px;

      transition: transform 200ms;
      transition-timing-function: cubic-bezier(.3, .31, .17, 1.04);

      .formGroup {
        position: relative;
        display: flex;
        flex-direction: column;

        .inputContainer {
          margin-bottom: 45px;
          display: flex;
          align-items: center;

          .inputIcon {
            position: absolute;
            left: 20px;
            margin: auto;
            color: #ffeba7;
          }

          input {
            padding: 13px 20px 13px 55px;
            height: 50px;
            width: 250px;
            line-height: 22px;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.5px;
            outline: none;
            border-radius: 4px;
            color: #c4c3ca;
            background-color: #1f2029;
            box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
            border: none;
          }
        }

        .errorMessage {
          margin-top: 55px;
          width: 100%;
          color: #ff3d3d;
          position: absolute;
          text-align: start;
          font-size: 13px;
        }
      }

      button {
        border-radius: 4px;
        height: 44px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        padding: 0 30px;
        letter-spacing: 1px;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        text-align: center;
        border: none;
        background-color: #ffeba7;
        color: #102770;
        box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
        cursor: pointer;
        margin-top: 20px;
      }
    }
  }
}

@media (height < 700px) {
  .AppForm {
    height: 100vh;
  }
}

@media (width <=500px) {
  .AppForm {
    width: 100vw;

    .header {
      width: 100%;
    }
  }
}