.Login {
  form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: min-content;
    padding: 50px;

    .form-group {
      position: relative;
      display: flex;
      flex-direction: column;

      .input-container {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        
        .input-icon {
          position: absolute;
          left: 30px;
          margin: auto;
          color: #ffeba7;
        }

        input {
          padding: 13px 20px 13px 55px;
          height: 30px;
          line-height: 22px;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.5px;
          outline: none;
          border-radius: 4px;
          color: #c4c3ca;
          background-color: #1f2029;
          box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
          border: none;
        }
      }

      .error-message {
        margin-top: 55px;
        width: 100%;
        color: #ff3d3d;
        position: absolute;
        text-align: start;
        font-size: 13px;
      }
    }
  }
}