@font-face {
    font-family: jetBrainsThin;
    src: url(../util/fonts/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../util/fonts/Roboto/Roboto-Light.ttf);
}

.Alerts {
    position: fixed;
    top: 40px;
    z-index: 100;

    &>div {
        background-color: #52e07c;
        font-size: 17px;
        margin-top: 10px;
        border-radius: 3px;
        padding: 15px 30px 15px 15px;
        display: flex;
        align-items: center;

        svg {
            height: 30px;
            width: 30px;
        }

        span {
            font-family: Roboto;
            margin-left: 10px;
        }
    }
}