.PracticeForm {
  form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 320px;
    
    padding: 50px;

    .form-group {
      position: relative;
      display: flex;
      flex-direction: column;

      .input-container {
        display: flex;
        align-items: center;
        .input-icon {
          position: absolute;
          left: 30px;
          color: #ffeba7;
        }

        input {
          padding: 13px 20px;
          padding-left: 55px;
          height: 30px;
          line-height: 22px;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.5px;
          outline: none;
          border-radius: 4px;
          color: #c4c3ca;
          background-color: #1f2029;
          box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
          border: none;
          margin: 0 10px;
        }
      }

      .error-message {
        color: rgb(81, 255, 0);
        position: relative;
        text-align: start;
        font-size: 12px;
      }
    }
  }
}