.RoomList {
    color: #ffeba7;

    .selectionBar {
        display: flex;
        justify-content: space-around;
        padding: 30px 50px;

        .icon {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .caption {
                width: min-content;
                text-align: center;
                font-size: small
            }
        }

        .list {}

        overflow: scroll;

        svg {
            height: 30px;
            width: 30px;
        }
    }
}