$switchWidth: 45px;
$switchHeight: 20px;
$controllerSize: 25px;

.Switch {
    border-radius: $switchHeight;
    width: $switchWidth;
    height: $switchHeight;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #1f2029;
    justify-content: left;
    cursor: pointer;
    
    
    div {
        transition: left .1s;
        left: 0%;
        position: absolute;
        height: $controllerSize;
        width: $controllerSize;
        border-radius: $controllerSize;
        background-color: #ffeba7;
        box-shadow: 0px 0px 7px #ffedb0;
        
        &.right {
            left: 50%;
        }

    }
}