@font-face {
  font-family: jetBrainsRegular;
  src: url(./util/fonts/JetBrainsMono-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: jetBrainsRegular;
}

body {
  height: 100%;
}

.App {
  width: 100vw;
  height: 100vh;
  // max-height: 100%;
  flex-direction: column;
  background-color: #3a2c4d;
  position: absolute;
  top: 0;
  // overflow: scroll;

  .appFormContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}

#temporary {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
}