@font-face {
    font-family: robotoThin;
    src: url(../../../util/fonts/Roboto-Thin.ttf);
}

.Message {
    border: 3px solid white;
    font-family: robotoThin;
    color: white;
    width: max-content;
    max-width: 300px;
}